@using HM.Presupuestos.Server.Services
@using Microsoft.AspNetCore.Components

@inject ILayerOverlayService _LoadingService

@if (_visible)
{
    <div class="loading-overlay">
        <div class="loading-box">
            <div class="loading-spinner"></div>
            <div class="loading-text">@_htmlMessage</div>
        </div>
    </div>
}

@code {
    private bool _visible;
    private MarkupString _htmlMessage;

    protected override void OnInitialized()
    {
        _LoadingService.OnChange += Handle;
    }

    private void Handle(bool show, string? msg)
    {
        _visible = show;
        _htmlMessage = new MarkupString(msg ?? string.Empty);
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _LoadingService.OnChange -= Handle;
    }
}