@page "/HttpError/{StatusCode:int?}"
@layout Layout.EmptyLayout

@using HM.Presupuestos.Server.Pages
@using HM.Presupuestos.Server.Utils

@inject ILocalizadorRecursos _ResourceService
@inject IJSRuntime _JSRuntime


@if (_componentInitialized)
{
    <PageTitle>@_pageTitle</PageTitle>
    <div class="layer-container">
        <div class="layer-image">
            <img src="images/logo/logo-havas-noir_small.png" />
        </div>
        <div class="layer-text">@_htmlMessage</div>
        <div><a class="layer-link" href="/">@_link</a></div>
    </div>
}

@code {
    [Parameter]
    public int StatusCode { get; set; }

    private bool _componentInitialized = false;
    private string _pageTitle { get; set; } = string.Empty;
    private string _link { get; set; } = string.Empty;
    private MarkupString _htmlMessage;
    private int _httpStatusCode;

    /// <summary>
    /// Component event
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    /// <summary>
    /// Se ejecuta cuando los parámetros (StatusCode) son establecidos por el router.
    /// Es el lugar ideal para cargar datos dependientes del parámetro.
    /// </summary>
    protected override void OnParametersSet()
    {
        _httpStatusCode =(StatusCode == 0) ? 500 : StatusCode;
    }
    

    /// <summary>
    /// Component event
    /// </summary>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            ResourceServiceWrapper.Initialize(_ResourceService);
            _pageTitle = $"{await _JSRuntime.InvokeAsync<string>("GetResourceValue", "common:appname:const")} - {_httpStatusCode.ToString()}";
            _link = $"{await _JSRuntime.InvokeAsync<string>("GetResourceValue", "common:BackToHome:label")}";
            
            var msgDescription = _httpStatusCode switch
            {
                400 => await _JSRuntime.InvokeAsync<string>("GetResourceValue", "common:Http400:label"),
                403 => await _JSRuntime.InvokeAsync<string>("GetResourceValue", "common:Http403:label"),
                404 => await _JSRuntime.InvokeAsync<string>("GetResourceValue", "common:Http404:label"),
                500 => await _JSRuntime.InvokeAsync<string>("GetResourceValue", "common:Http500:label"),
                _ => await _JSRuntime.InvokeAsync<string>("GetResourceValue", "common:HttpError:label"),
            };
            _htmlMessage = new MarkupString($"{_httpStatusCode.ToString()} - {msgDescription}");

            if (!_componentInitialized)
            {
                _componentInitialized = true;
                await InvokeAsync(StateHasChanged);
            }
        }

    }
}
