<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="nlog.log" internalLogLevel="trace">
	<variable name="appName" value="Presupuestos" />
  <variable name="logDirectory" value="${basedir}\logs"/>
  <targets>
    <target xsi:type="Console" name="Console">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="level" layout="${level:lowercase=true}" encode="false" />
        <attribute name="CodigoPais" layout="${event-properties:item=CodigoPais}" encode="false" />
        <attribute name="CodigoAplicacion" layout="${event-properties:item=CodigoAplicacion}" encode="false" />
        <attribute name="CodigoCompania" layout="${event-properties:item=CodigoCompania}" encode="false" />
        <attribute name="CodigoDelegacion" layout="${event-properties:item=CodigoDelegacion}" encode="false" />
        <attribute name="CodigoUsuario" layout="${event-properties:item=CodigoUsuario}" encode="false" />
        <attribute name="Login" layout="${event-properties:item=Login}" encode="false" />
        <attribute name="EsCorporativo" layout="${event-properties:item=EsCorporativo}" encode="false" />
        <attribute name="EsBaja" layout="${event-properties:item=EsBaja}" encode="false" />
        <attribute name="logger" layout="${logger}" encode="false" />
        <attribute name="message" layout="${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" encode="false" />
      </layout>
    </target>
    <target name="FileLog" xsi:type="File" fileName="${logDirectory}\${appName}_${shortdate}.jsonl"
     encoding="utf-8"
     createDirs="true"
     keepFileOpen="false"
     concurrentWrites="true">
    <layout xsi:type="JsonLayout" includeAllProperties="false" suppressSpaces="true">
      <attribute name="timestamp" layout="${date:format=o}" encode="true" />
      <attribute name="level" layout="${level}" encode="true" />
      <attribute name="category" layout="${event-properties:item=category}" encode="true" />
      <attribute name="login" layout="${event-properties:item=login}" encode="true" />
      <attribute name="logger" layout="${logger}" encode="true" />
      <attribute name="message" layout="${message}" encode="true" />
      <attribute name="exception" layout="${event-properties:item=exception}" encode="true" />
      <attribute name="stackTrace" layout="${event-properties:item=stackTrace}" encode="true" />
      <attribute name="comments" layout="${event-properties:item=comments}" encode="true" />
    </layout>
  </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="Console" />
  <logger name="*" minlevel="Trace" writeTo="FileLog" />
  </rules>
</nlog>