:root {
    --havas-color-red: #e60000;
    --havas-color-red-rgb: 230,0,0;
    --havas-color-black: #000000;
    --havas-color-black-rgb: 0,0,0;
    --havas-color-white: #FFFFFF;
    --havas-color-red-1: #ffdcdc;
    --havas-color-red-1-rgb: 255,220,220;
    --havas-color-red-2: #ffbebe;
    --havas-color-red-3: #ff9696;
    --havas-color-red-3-rgb: 255,150,150;
    --havas-color-red-4: #640000;
    --havas-color-red-5: #280000;
    --havas-color-blue-1: #9bf5fc;
    --havas-color-blue-2: #69ebf8;
    --havas-color-blue-3: #008596;
    --havas-color-blue-3-rgb: 0,133,150;
    --havas-color-blue-4: #145566;
    --havas-color-blue-5: #001c32;
    --havas-color-blue-6: #328cf5;
    --havas-color-green-1: #00dcb9;
    --havas-color-green-2: #aafa96;
    --havas-color-green-2-rgb: 170,250,150;
    --havas-color-purple: #785afa;
    --havas-color-pink: #f055fa;
    --havas-color-yellow: #ffdc32;
    --havas-color-yellow-rgb: 255,220,50;
    --font-family: "Baikal", "Roboto", Arial, Verdana, "Segoe UI", sans-serif;
    --background-color_devexpress-ui-control: rgba(var(--havas-color-black-rgb),80%);
    --background-color_devexpress-group-header: rgba(var(--havas-color-black-rgb),60%);
    --background-color_devexpress-grid-header: rgba(var(--havas-color-black-rgb),2%);
    --background-color_disabled: rgba(var(--havas-color-black-rgb),10%);
    --background-color_devexpress-grid-cell-readonly: rgba(var(--havas-color-yellow-rgb),25%);
    /* DevExpress */
    --bs-primary: rgba(var(--havas-color-red-rgb),70%);
    --bs-secondary: rgba(var(--havas-color-black-rgb),15%);
    --bs-success: rgba(var(--havas-color-blue-3-rgb),95%);
    --bs-info: rgba(var(--havas-color-blue-3-rgb),200%);
    --bs-warning: rgba(var(--havas-color-red-1-rgb),100%);
    --bs-danger: rgba(var(--havas-color-red-rgb),95%);
    --dxbl-list-box-item-selected-hover-bg: var(--havas-color-red-2);
    --dxbl-list-box-item-selected-hover-color: var(--havas-color-black);
    --dxbl-list-box-item-selected-bg: var(--havas-color-red-3);
    --dxbl-list-box-item-selected-color: var(--havas-color-black);
}




/*RESPONSIVE*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    html, body {
        font-size: 9px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    html, body {
        font-size: 11px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    html, body {
        font-size: 13px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    html, body {
        font-size: 14px !important;
    }
}

@media screen and (min-width: 1400px) {
    html, body {
        font-size: 15px !important;
    }
}


.text-box-align-right {
    text-align: right;
}



/* Estilos aplicados al grid para pintar las filas de colores alternativos */

.header-bold span {
    font-weight: 700;
}

/* DevExpress y Bootstrap Themes */
.alt-item > td:not(.dxbl-grid-empty-cell),
.alt-item > td:not(.dxbl-grid-indent-cell) {
    background-color: var(--background-color_disabled);
    opacity:0.5;
}
/* Fluent Themes */
.alt-item {
    --dxbl-grid-row-bg: var(--DS-color-surface-neutral-subdued-rest);
}

/*************************************************************************************/

.dxbl-expandable-container .dxbl-treeview-item-content {
    margin-left: -1rem !important;
}

.margin-cell {
    margin: 4px;
}

.text-red {
    color: var(--havas-color-red);
}

.stacklayout-item {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    height: 100%;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-div {
    margin: 8px;
    margin-top: 12px;
}


/* Ajusta el ancho para los combos de meses y años */

.form-anio-width {
    width: 110px;
    min-width: 110px;
}

/***************************************************/


/*CUSTOMIZE*/

@font-face {
    font-family: "Baikal";
    src: url("/css/fonts/Baikal-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    font-family: var(--font-family) !important;
    background-color: var(--havas-color-white);
}



/*** DevExpress Theme ***/

.dx-theme-material,
.dx-theme-office,
.dx-theme-generic {
    font-family: var(--font-family) !important;
}

dxbl-group-control .dxbl-group-header {
    background-color: var(--background-color_devexpress-group-header) !important;
    color: var(--havas-color-white) !important;
}

.dxbl-checkbox {
    --dxbl-checkbox-check-element-checked-bg: var( --background-color_devexpress-ui-control) !important;
    --dxbl-checkbox-radio-check-bg: var( --background-color_devexpress-ui-control) !important;
    --dxbl-checkbox-switch-checked-bg: var( --background-color_devexpress-ui-control) !important;
    --dxbl-checkbox-radio-checked-border-color: var( --background-color_devexpress-ui-control) !important;
    --dxbl-checkbox-check-element-checked-hover-bg: var( --background-color_devexpress-ui-control) !important;
    --dxbl-checkbox-switch-checked-hover-bg: var( --background-color_devexpress-ui-control) !important;
    --dxbl-checkbox-radio-checked-hover-bg: var( --background-color_devexpress-ui-control) !important;
}

.dxbl-text-edit {
    --dxbl-text-edit-focus-shadow-color: rgba(var(--havas-color-red-3-rgb), 50%) !important;
    --dxbl-text-edit-focus-border-color: rgba(var(--havas-color-red-3-rgb), 50%) !important;
}

.dxbl-list-box-render-container > .dxbl-scroll-viewer > .dxbl-scroll-viewer-content > ul > li:not([dxbl-bottom-virtual-spacer-element]):not([dxbl-top-virtual-spacer-element]).dxbl-list-box-item-focused {
    outline: none;
}


.filterContainer .dxbl-fl-item {
    margin-top: 0.7rem;
}

.filterContainer .separator hr {
    margin-top: 0.1rem;
    margin-bottom:0.1rem;
}

.layoutContainer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.horizontal-centered{
    text-align: center!important;
    display: inline!important;
}

.custom-caption {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 10px !important;
    margin-top: 0px !important;
}

.mandatory::before {
    content: "*";
    font-size: 1rem;
    color: var(--havas-color-red);
    margin-left: 0.3rem;
}

.btnCustom {
    background-color: var( --background-color_devexpress-ui-control) !important;
    color: var(--havas-color-white) !important;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border: 1px solid var( --background-color_devexpress-ui-control) !important;
    width: auto;
    min-width: 10rem;
}

.toolbarButtonCustom {
    background-color: var( --background-color_devexpress-ui-control) !important;
    color: var(--havas-color-white)!important;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-right: 2rem;
    border: 1px solid var( --background-color_devexpress-ui-control) !important;
    width: 100%
}

.emptyrow
{
    width:100%;
    height:1.5rem;
}

.popupFooter {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.text-capitalize {
    text-transform: capitalize!important;
}

/*dxradiogroup*/
.dxradiogroup-container {
    width: auto;
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.dxradiogroup-horizontal {
    -webkit-box-orient: horizontal !important;
    -webkit-flex-flow: nowrap !important;
}

.dxradiogroup-horizontal .dxbl-checkbox-radio {
    width: auto !important;
    padding-top: 0 !important;
    margin-left: 1rem;
    margin-right:1rem;
}

/*DxFormLayoutGroup*/
.formLayoutGroupCaption {
    font-weight: 700;
    letter-spacing: 0.05rem;
}

/*DXGRID*/
.dxbl-grid {
    --dxbl-grid-header-bg: var(--background-color_devexpress-grid-header) !important;
}

    .dxbl-grid.dxbl-grid-nowrap .dxbl-grid-header-content > span {
        color: var(--havas-color-black) !important;
    }

/*dxgrid filter row */
.dxbl-grid .dxbl-grid-filter-row td:not(:has(dxbl-input-editor)) {
    background-color: var(--background-color_disabled) !important;
}

/*dxgrid cell readonly*/
.dxbl-grid td:has(.dxgrid-readonly-cell) {
    background-color: var(--background-color_devexpress-grid-cell-readonly);
}

/*dxgrid row hover*/
.dxbl-grid-table.dxbl-grid-row-hover-enabled > tbody > tr:not(.dxbl-grid-group-row):not(.dxbl-grid-group-footer-row):not(.dxbl-grid-edit-row):not(.dxbl-grid-empty-row):hover > td:not(.dxbl-grid-edit-form):not(.dxbl-grid-indent-cell):not(.dxbl-grid-detail-cell):not(.dxbl-grid-empty-data-area):not(.dxbl-grid-empty-cell) {
    background-color: var(--havas-color-red-1);
}
/*dxgrid selected row */
.dxbl-grid .dxbl-grid-selected-row2 {
    background-color: var(--havas-color-red-3) !important;
}

.dxbl-grid .dxbl-grid-table .dxbl-grid-selected-row:not(.dxbl-grid-focused-row):not(.dxbl-grid-touch-selection):not(.dxbl-grid-touch-selection-edge) > td:not(.dxbl-grid-empty-cell):not(.dxbl-grid-indent-cell) {
    background-color: var(--havas-color-red-3);
}

/*dxgrid cell readonly on selected row*/
.dxbl-grid .dxbl-grid-selected-row td:has(.dxgrid-readonly-cell) {
    background-color: var(--havas-color-red-3) !important;
    color: var(--havas-color-black);
}

.dxbl-grid td:has(.dxgrid-readonly-cell.dxgrid-capitalize-cell) {
    text-transform: uppercase !important;
    letter-spacing:0.03rem;
}

.dxbl-grid td:has(.dxgrid-readonly-cell.dxgrid-size-large-cell) {
    font-size: 0.95rem !important;
}


/*dxgrid NOT cell readonly on selected row*/
.dxbl-grid .dxbl-grid-selected-row td:not(:has(.dxgrid-readonly-cell)) {
    background-color: var(--havas-color-white) !important;
    color: var(--havas-color-black);
}

/*dxgrid edit row */
/*.dxbl-grid-edit-row td:not(:has(.dxbl-grid-indent-cell)) {
    background-color: var(--background-color_disabled) !important;
}*/

/*dxgrid cell readonly on edit row */
/*.dxbl-grid-edit-row td:has(.dxgrid-readonly-cell) {
    background-color: var(--background-color_disabled) !important;
}*/

/*dxgrid NOT cell readonly on edit row */
.dxbl-grid-edit-row td:not(:has(.dxgrid-readonly-cell)) {
    background-color: var(--havas-color-white) !important;
}

/*dxgrid cell multiline */
.dxbl-grid .dxgrid-multiline-cell {
    white-space: normal;
    word-wrap: break-word;
}

/*dxgrid footer */
.dxbl-grid .dxbl-grid-table .dxbl-grid-footer-row {
    background-color: var(--background-color_disabled);
}

/*dxgrid new row */
.grid-new_item, .dxbl-grid .grid-new_item td:has(.dxgrid-readonly-cell) {
    background-color: var(--background-color_disabled) !important;
}

/*dxgrid updted cell */
.grid-modified-cell {
    background-color: var(--havas-color-red-1) !important;
}


.grid-updated_item, .dxbl-grid .grid-updated_item td:has(.dxgrid-readonly-cell) {
    background-color: var(--havas-color-red-1) !important;
}


/**/

/**/


.popup-columns-container {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.popup-control-description {
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right:0;
    margin-right:0;
}


.popup-control-caption {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.popup-comment {
    font-weight: 600;
    padding: 1rem;
    font-size:0.8rem;
}



checkbox-auto-width {
    width: auto !important;
    display: inline-flex;
    align-items: center;
}


/*param los iconos de los combos*/
.cmb-template-container {
    display: flex;
    align-items: center;
    width: 100%
}

.cmb-template-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.375rem;
}
/*********************************/

.filterHeader {
    margin-bottom: 0.5rem;
    width: 100%;
}

/*dxgrid cell bloqueada
*/
.dxbl-grid td:has(.dxgrid-desbloqueada-cell) {
    background-color: var(--havas-color-white);
}

