::deep .valor-filtrado {
    font-weight: bold;
    color: red;
    cursor: pointer;
    font-size: 1.5em; /* aumenta el tamaño del texto */
    padding: 5px; /* opcional: más espacio alrededor */
    display: inline-block; /* para que padding funcione bien */
}

.icono-accion {
    cursor: pointer;
    margin-right: 8px;
    font-size: 1.2em;
    color: #007bff; /* color azul */
}

.icono-accion:hover {
    color: #dc3545; /* cambia a rojo al pasar el ratón */
}
