@inherits Context
@attribute [Authorize]

@if (!UsuarioCargado)
{
   @*  <p>Comprobando permisos...</p> *@
}
else
{
    @if (UsuarioImpersonado != null)
    {
        @* MOSTRAR USUARIO LOGIN (IMPERSONADO) *@
        <DxStackLayout CssClass="h-100 w-100 ch-480" Orientation="Orientation.Horizontal">
            <Items>
                @{
                    var login = UsuarioImpersonado.Nombre + " " + UsuarioImpersonado.Apellido1 + " " + UsuarioImpersonado.Apellido2;
                    var titleLogin = login + " [" + UsuarioImpersonado.Login + "]";
                }
                <DxStackLayoutItem Length="0.2fr">
                    <Template>
                        <div class="stacklayout-item">
                            <img class="icon-person" src="images/person-fill.svg" title="@titleLogin">
                        </div>
                    </Template>
                </DxStackLayoutItem>
                <DxStackLayoutItem Length="1fr">
                    <Template>
                        <div class="stacklayout-item">
                            <div title="@titleLogin"><b>@login</b></div>
                        </div>
                    </Template>
                </DxStackLayoutItem>
                <DxStackLayoutItem Length="auto">
                    <Template>
                        <div class="stacklayout-item">
                            <DxButton CssClass="btn-logout" IconCssClass="icon logout-icon" 
                                      Text="@ObtenerTexto(AppResources.Pages.Login.CerrarSesion)" 
                                      Click="OnCerrarSesion" />
                        </div>
                    </Template>
                </DxStackLayoutItem>
            </Items>
        </DxStackLayout>
    }
  
}




