@inherits Context
@attribute [Authorize]

@if (!UsuarioCargado)
{
   @*  <p>Comprobando permisos...</p> *@
}
else
{
   
    @* MOSTRAR USUARIO SSO (REAL) *@
    <DxStackLayout CssClass="h-100 w-100 ch-480" Orientation="Orientation.Horizontal">
        <Items>
            @{
                var login = UsuarioAutenticado.Nombre + " " + UsuarioAutenticado.Apellido1 + " " + UsuarioAutenticado.Apellido2;
                var titleLogin = login + " [" + UsuarioAutenticado.Login + "]";
            }
            <DxStackLayoutItem Length="0.2fr">
                <Template>
                    <div class="stacklayout-item">
                        <img class="icon-person" src="images/person-fill.svg" title="@titleLogin">
                    </div>
                </Template>
            </DxStackLayoutItem>
            <DxStackLayoutItem Length="1fr">
                <Template>
                    <div class="stacklayout-item">
                        <div title="@titleLogin"><b>@login</b></div>
                    </div>
                </Template>
            </DxStackLayoutItem>
        </Items>
    </DxStackLayout>
    
}


