.page {
    height: 100%;
    width: 100%;
    /*font-family: var(--bs-font-sans-serif);*/
}



.logo {
    text-align: center;
    width: 3rem;
    height: 3rem;
}

.logo-image {
    display: flex;
    padding-left: 10px;
}

.menu-item {
    color: #000 !important;
    background-color: #f2f2f2 !important;
}

.menu-item :hover {
    background-color: darkgreen !important;
    color: #fff !important;
}


::deep .header-component {
    height: 100%;
    background-color: var(--havas-color-red);
}


::deep .dxbl-drawer > .dxbl-drawer-panel > .dxbl-drawer-body {
    padding-left: 0px;
    padding-right: 0.3rem;
    padding-top: 0.3rem;
}

::deep .content {
    overflow: auto;    
}

@media (max-width: 768px) {
    ::deep .layout-sidebar {
        grid-area: header / header / header / header !important;
    }
}

::deep .icon {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: center;
}


::deep .footer {
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
}

::deep .demo-drawer .dxbl-drawer-content {
    padding: 0px;
}

/*CUSTOMIZED*/

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    z-index: -1;
}

.form-control {
    border: none;
    padding: 1rem;
}

.body-background {
    padding: 1rem;
}


::deep .dxbl-drawer-panel {
    border: 0!important;
}

::deep .hamburguer-menu-button {
    background-image: url("images/hamburguer-menu.svg");
    filter: brightness(0) invert(1);
    margin-left: 0.5rem;
}

::deep .dxbl-toolbar-group-separator {
    width: 0 !important;
    background-color: transparent !important;
}

.menuContainer {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add opacity for smoother transition */
  transform: translateX(0); /* Initial position */
    opacity: 1;
    height: 100%;
    width:auto;
    overflow: auto; /* Important for height transition */
    display:block;
}

.menuContainer.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    width:0;
}

::deep .dxbl-drawer-body
{
    padding-top:0.1rem!important;
}

/**/


/* para la pantalla de inactividad y la cuenta atras*/

.countdown-popup {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}

.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-title {
    font-size: 16px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    /*color: #ff4444;*/
}

.countdown-display {
    font-family: 'Orbitron', sans-serif;
    font-size: 52px;
    font-weight: bold;
    /*color: #e63946; */ /* rojo más apagado */
    color: #e60000;
    background: black;
    padding: 10px 20px;
    border-radius: 8px;
    /*border: 3px solid #e63946;*/
    border: 3px solid #e60000;
    box-shadow: 0 0 10px rgba(230, 0, 0, 0.5); /* menos resplandor */
    animation: flicker 1.5s infinite alternate;
    margin-top: 15px;
    margin-bottom: 15px;
}

.attention-icon {
    color: #e63946;
    font-size: 80px;
    margin-left: -20px;
    display: inline-block;
    transform-origin: bottom center;
    animation: wave 1s infinite alternate;
}

@keyframes flicker {
    from {
        opacity: 1;
        text-shadow: 0 0 5px rgba(230, 0, 0, 0.4);
    }

    to {
        opacity: 0.9;
        text-shadow: 0 0 10px rgba(230, 0, 0, 0.6);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(25deg);
    }
}