@* @using DevExpress.Blazor
@using DevExpress.Blazor.Internal
@using HM.Presupuestos.Server.Componentes.Ui
@using HM.Presupuestos.Server.ThemeSwitcher
@using HM.Presupuestos.Server.Adaptadores
@using System.Text.Json
@using HM.Presupuestos.Server.Layout

@inject IResourceService _resourceService *@

@inherits LayoutComponentBase

<div class="page">
    <div class="content">
        @Body
    </div>
</div>

@code {
   
}

