@inherits Context

<div class="alert alert-danger text-center m-5" role="alert">
    <h4 class="alert-heading">&#10060; @ObtenerTexto(TextosApp.Common.AccesoDenegado.Titulo)</h4>
    <p>@ObtenerTexto(TextosApp.Common.AccesoDenegado.Mensaje) <strong>@Titulo</strong>.</p>
    <hr>
    <p class="mb-0">@ObtenerTexto(TextosApp.Common.AccesoDenegado.Contacto)</p>
</div>
