@code {
    /// <summary>
    /// TExto normal que se muestra en la parte izquierda
    /// </summary>
    [Parameter] public string LeftText { get; set; } = string.Empty;

    /// <summary>
    /// Texto en negrita que se muestra a continuación del LeftText
    /// </summary>
    [Parameter] public string LeftBoldText { get; set; } = string.Empty;

    /// <summary>
    /// Texto normal que se muestra en la parte derecha
    /// </summary>
    [Parameter] public string RightText { get; set; } = string.Empty;
}

<div class="d-flex justify-content-between w-100">
    <div class="d-flex">
        <span>@LeftText</span>
        @if (!string.IsNullOrEmpty(LeftBoldText))
        {
            <span style="font-weight: 600; padding-left: 1rem;">@LeftBoldText</span>
        }
    </div>
    <div style="font-weight: 500; text-align: right;">
        @RightText
    </div>
</div>
