.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

::deep .modal-box {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

::deep .modal-buttons {
    margin-top: 1.5rem;
}

::deep .modal-buttons button {
    margin: 0 10px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

::deep .modal-buttons button:first-child {
    background-color: var(--havas-color-blue-3);
    color: white;
    min-width: 25%;
}

::deep .modal-buttons button:last-child {
    background-color: rgba(var(--havas-color-black-rgb),60%);
    color: white;
    min-width: 25%;
}
