@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Components.Routing
@using HM.Presupuestos.Server.Pages
@using Microsoft.AspNetCore.Components.Web
@using HM.Presupuestos.Server.Helper

@inject IFileVersionProvider FileVersionProvider
@inject ThemeService Themes
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string? bsTheme = null;
    string? dxTheme = null;
    string? hlTheme = null;

    string? InitialThemeName = HttpContextAccessor?.HttpContext?.Request?.Cookies?["ActiveTheme"];
    Themes.SetActiveThemeByName(InitialThemeName);

    if (Themes.ActiveTheme != null)
    {
        bsTheme = Themes.GetBootstrapThemeCssUrl(Themes.ActiveTheme);
        dxTheme = Themes.GetThemeCssUrl(Themes.ActiveTheme);
        hlTheme = Themes.GetHighlightJSThemeCssUrl(Themes.ActiveTheme);
    }
    string AppendVersion(string path) => FileVersionProvider.AddFileVersionToPath("/", path);
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon"
          type="image/x-icon"
          href="./images/favicon/favicon.ico"
          asp-append-version="true" />
    <base href="/" />
    @if (!string.IsNullOrEmpty(bsTheme))
    {
        <link rel="stylesheet" href="@AppendVersion(bsTheme)" bs-theme-link />
    }
    @if (!string.IsNullOrEmpty(dxTheme))
    {
        <link rel="stylesheet" href="@AppendVersion(dxTheme)" dx-theme-link />
    }
    @if (!string.IsNullOrEmpty(hlTheme))
    {
        <link rel="stylesheet" href="@hlTheme" hl-theme-link />
    }

    @DxResourceManager.RegisterScripts()
    <link href="css/site.css" rel="stylesheet" />
    <link href="HM.Presupuestos.Server.styles.css" rel="stylesheet" />
    <link href="switcher-resources/css/theme-switcher.css" rel="stylesheet" />
    <link href="switcher-resources/css/themes.css" rel="stylesheet" />
    <link href="drawer-resources/css/drawer-overview.css" rel="stylesheet" />
    <link href="drawer-resources/css/drawer.css" rel="stylesheet" />
    <link href="css/comun.css?v=@DateTime.UtcNow.ToString("yyyyMMdd")" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    <script src="js/app.js?v=@DateTime.UtcNow.ToString("yyyyMMdd")"></script>
    <script src="js/inactividad.js?v=@DateTime.UtcNow.ToString("yyyyMMdd")"></script>
    <script src="js/controlCambios.js?v=@DateTime.UtcNow.ToString("yyyyMMdd")"></script>
    <HeadOutlet @rendermode="InteractiveServer" />

</head>
<body>

    <div id="switcher-container" data-permanent></div>
    <Routes @rendermode="InteractiveServer" />
    
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        // Inicializar Blazor y notificar cuando esté listo
        Blazor.start().then(() => {
            // Notificar que Blazor está completamente inicializado
            if (window.onBlazorReady) {
                window.onBlazorReady();
            }
        }).catch(error => {
            console.error('[Blazor] Error durante la inicialización:', error);
        });
    </script>
</body>
</html>

