<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="nlog.log" internalLogLevel="trace">
	<variable name="appName" value="Presupuestos" />
	<variable name="logDirectory" value="${basedir}\log"/>
  <targets>
    <target xsi:type="Console" name="Console">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="level" layout="${level:lowercase=true}" encode="false" />
        <attribute name="CodigoPais" layout="${event-properties:item=CodigoPais}" encode="false" />
        <attribute name="CodigoAplicacion" layout="${event-properties:item=CodigoAplicacion}" encode="false" />
        <attribute name="CodigoCompania" layout="${event-properties:item=CodigoCompania}" encode="false" />
        <attribute name="CodigoDelegacion" layout="${event-properties:item=CodigoDelegacion}" encode="false" />
        <attribute name="CodigoUsuario" layout="${event-properties:item=CodigoUsuario}" encode="false" />
        <attribute name="Login" layout="${event-properties:item=Login}" encode="false" />
        <attribute name="EsCorporativo" layout="${event-properties:item=EsCorporativo}" encode="false" />
        <attribute name="EsBaja" layout="${event-properties:item=EsBaja}" encode="false" />
        <attribute name="logger" layout="${logger}" encode="false" />
        <attribute name="message" layout="${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" encode="false" />
      </layout>
    </target>
	<target name="fileLog" xsi:type="File" fileName=""
	   layout="${longdate} > ${uppercase:${level}} ${message}${exception}"
	   encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="Console" />
  </rules>
</nlog>